.modal-lg{
    width: 98% !important;
}
.uploadmanager-archive-container{
    height: 60vh;
    overflow-y: scroll;
}
.uploadmanager-archive-container .thumbnail{
    position: relative;
}
.uploadmanager-archive-container .thumbnail .caption {
    padding: 9px;
    color: #fff;
    position: absolute;
    background: #000000b3;
    top: 0;
    right: 0;
    left: 0;
    margin: 6px;
    word-wrap: break-word;
}
.upload-manager-loading{
    background: url(loading.gif) repeat-x;
    width: 155px;
    height: 50px;
    margin: 10px auto;
    display: none;
}

.show-image-container .item{
    float: right;
    padding: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}